<div class="d-flex">
    <div class=".flex-lg-fill ms-5 mb-5 mt-5">
        <img src="https://www.puravida-software.com/images/portfolio-3.jpg" width="300px" height="300px" class="rounded-circle" alt="">
    </div>
    <div class=".flex-lg-fill ms-1 ps-1 me-5 pe-1 mt-5">
        <h3 class="text-secondary"><span class="text-black">The Second Heading</span> Is Pretty Cool Too.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dicta atque odit qui earum rem nostrum possimus, aspernatur soluta sequi veritatis repudiandae. Perspiciatis impedit amet labore pariatur libero consequatur iste.</p>
    </div>
</div>